
body {
	margin: 0px;
}

.title {
	height: 3rem;
	font-size: 2rem;
	font-family: Quicksand;
	margin: auto;
	text-align: center;
	background-color: #014ba0;
	color: #d9d5d5;
	border-radius: 0 0 0.5rem 0.5rem;
	box-shadow: 0 0.3rem 0.3rem 0.3rem #c0c0c0;
}

section {
	margin: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	font-family: Quicksand;
}

div {
	margin: 1rem auto;
	padding: 1rem;
	width: 20rem;
	font-family: Quicksand;
	border-radius: 0.5rem;
	box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem #c0c0c0;
}

h3 {
	text-align: center;
}